body {
    background-color: lightblue;
    color: black;
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right bottom, red, 
    orange, yellow, green, lightblue, blue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    transition: all 0.5s
}

header:hover {
    font-size: 32pt;
    color: white;
    text-shadow: 0 0 1pt black;
    transition: all 1s;
}

footer {
    background: linear-gradient(to right bottom, red, 
    orange, yellow, green, lightblue, blue, purple);
    padding: 10px;
    font-size: 16pt;
    text-align: right;
    transition: all 0.5s;
}

footer:hover {
    font-size: 25pt;
    transition: all 1s;
}

a {
    text-decoration: none; 
    color: green;
    transition: all 1s; 
}

a:visited {
    color: white;  
}

a:hover {
    color:red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: all 0.3s 1s;
}

a:active {
    color: pink;
    background-color: green;
}
